:root {
  --color--background: #fff8f5;
  --color--secondary: #f59b90;
  --color--text-white: white;
  --color--primary: #a87e72;
  --color--text: #43484e;
  --color--text-opacity70: rgba(67, 72, 78, .7);
  --color--text-opacity50: rgba(67, 72, 78, .5);
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-form-formradioinput--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

body {
  background-color: var(--color--background);
  color: #333;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Old Standard TT, sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Old Standard TT, sans-serif;
  font-size: 45px;
  font-weight: 400;
  line-height: 54px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Old Standard TT, sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 47.5px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Old Standard TT, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}

a {
  text-decoration: underline;
}

li {
  color: var(--color--text-white);
  padding-top: 20px;
  padding-bottom: 20px;
}

.sg-content-block {
  margin-top: 64px;
}

.button-secondary {
  color: #fff;
  letter-spacing: -.8px;
  background-color: #9c9c9c;
  padding: 12px 32px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  transition: background-color .3s ease-in-out;
}

.button-secondary:hover {
  color: #fff;
  background-color: #949494;
}

.button-secondary:active {
  color: #fff;
}

.button-secondary.small {
  letter-spacing: -.2px;
  background-color: #9c9c9c;
  padding: 8px 24px;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.box-shadow-block {
  height: auto;
  min-height: 50px;
  background-color: rgba(0, 0, 0, 0);
  align-self: stretch;
  box-shadow: 0 5px 18px -6px rgba(0, 0, 0, .32);
}

.margin-top-medium {
  margin-top: 40px;
}

.block-quote {
  max-width: 900px;
  color: #080808;
}

.max-width-ml {
  max-width: 600px;
}

.margin-top-large {
  margin-top: 80px;
}

.style-guide-block {
  align-self: stretch;
}

.style-guide-block.icons, .style-guide-block.forms, .style-guide-block.structure {
  margin-top: 128px;
}

.style-guide-block.typography {
  object-fit: fill;
  margin-top: 128px;
}

.style-guide-block.buttons {
  margin-top: 128px;
}

.style-guide-block.global-classes {
  margin-top: 99px;
}

.style-guide-block.rich-text {
  margin-top: 128px;
}

.max-width-large {
  max-width: 800px;
}

.section {
  padding: 120px 3%;
}

.section.style-hero {
  min-height: 50vh;
  background-color: var(--color--text-white);
  justify-content: center;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
}

.section.style-guide {
  background-color: var(--color--text-white);
  padding-top: 100px;
  padding-bottom: 100px;
}

.bold {
  margin-bottom: 10px;
  font-weight: 600;
}

.paragraph-large {
  letter-spacing: 0;
  font-size: 22px;
  line-height: 32px;
}

.radio-button-field {
  display: flex;
}

.color-item-fill {
  height: 150px;
}

.color-item-fill.green {
  background-color: rgba(0, 0, 0, 0);
}

.color-item-fill.primary {
  background-color: var(--color--primary);
}

.color-item-fill.secondary {
  background-color: var(--color--secondary);
}

.color-item-fill.background {
  background-color: var(--color--background);
}

.hidden {
  display: none;
}

.style-guide-display {
  margin-bottom: 50px;
  padding: 25px;
}

.grid-style-guide {
  max-width: none;
  grid-column-gap: 51px;
  grid-template-rows: auto;
  grid-template-columns: .25fr 1fr;
  margin-left: auto;
  margin-right: auto;
}

.h2-style {
  font-size: 56px;
  line-height: 64px;
}

.margin-top-xxl {
  margin-top: 120px;
}

.icon-grid {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.visual-sg-block {
  background-color: rgba(0, 0, 0, 0);
  padding: 25px;
  box-shadow: 4px 4px 18px -6px rgba(0, 0, 0, .2);
}

.visual-sg-block.dark {
  background-color: #25272a;
  margin-bottom: 50px;
  padding-bottom: 10px;
}

.max-width-xxl {
  max-width: 1000px;
}

.container {
  max-width: 1200px;
  flex: 1;
  align-self: stretch;
  margin-left: auto;
  margin-right: auto;
}

.container.sg {
  max-width: none;
  margin-left: 0;
  margin-right: 0;
}

.container.centered {
  max-width: 1200px;
  text-align: center;
  flex-flow: column;
  flex: 1;
  justify-content: center;
  align-self: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.radio-button {
  width: 20px;
  height: 20px;
  border-style: solid;
  border-color: #25272a;
  margin-right: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .04);
}

.radio-button:hover {
  border-color: #9a9ea5;
}

.radio-button.w--redirected-checked {
  box-shadow: none;
  background-color: #25272a;
  border: 5px #25272a;
  border-radius: 50%;
}

.radio-button.w--redirected-focus {
  border-color: #5853ec;
}

.light-text {
  color: #f8f8f8;
}

.h3-style {
  font-size: 40px;
  line-height: 48px;
}

.margin-bottom-xl {
  margin-bottom: 100px;
}

.max-width-tiny {
  max-width: 300px;
}

.max-width-xl {
  max-width: 900px;
}

.sg-description {
  letter-spacing: .6px;
  text-transform: uppercase;
  margin-top: 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.sg-description.no-margin {
  background-color: #fff;
  margin-top: 0;
}

.field-buttons-wrapper {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 24px;
  display: flex;
}

.margin-top-small {
  margin-top: 20px;
}

._4-col-grid {
  max-width: 1200px;
  grid-column-gap: 50px;
  flex: 1;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
}

.button-item {
  width: 180px;
  margin-right: 48px;
}

.button-item.style-guide-spacer {
  margin-bottom: 0;
}

.button-tertiary {
  border: 1px solid var(--color--text-white);
  color: var(--color--text-white);
  letter-spacing: .3rem;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0);
  align-self: center;
  margin: 20px;
  padding: 12px 32px;
  font-size: 14px;
  font-weight: 300;
  line-height: 28px;
  transition: background-color .2s ease-in-out;
}

.button-tertiary:hover {
  border-color: var(--color--secondary);
  background-color: var(--color--secondary);
  color: var(--color--text-white);
}

.button-tertiary:active {
  color: #25272a;
}

.button-tertiary.small {
  letter-spacing: -.2px;
  padding: 8px 24px;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.button-tertiary.sg {
  margin-top: 20px;
}

.sg-nav-link {
  color: #dadada;
  align-self: flex-start;
  margin-bottom: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  transition: transform .3s;
}

.sg-nav-link:hover {
  color: #fff;
  transform: translate(5px);
}

.sg-nav-link.w--current, .sg-nav-link.w--current:hover {
  color: #fff;
}

.margin-top-xl {
  margin-top: 100px;
}

.h5-style {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  line-height: 32px;
}

.max-width-medium {
  max-width: 500px;
}

.text-area {
  min-height: 200px;
  color: #686d76;
  letter-spacing: 0;
  background-color: #fff;
  margin-bottom: 24px;
  padding: 12px 24px;
  font-size: 16px;
  line-height: 28px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .04);
}

.text-area:focus {
  color: #25272a;
  border: 1px solid #5853ec;
}

.margin-bottom-medium {
  margin-bottom: 40px;
}

._2-col-grid {
  max-width: 1200px;
  min-height: auto;
  grid-column-gap: 50px;
  flex: 1;
  grid-template-rows: auto;
  align-self: stretch;
  margin-left: auto;
  margin-right: auto;
}

.margin-top-tiny {
  margin-top: 10px;
}

.color-grid {
  grid-column-gap: 24px;
  grid-row-gap: 32px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.wrapper-sg {
  margin-top: 50px;
}

.h4-style {
  font-size: 32px;
  line-height: 40px;
}

.color-item {
  background-color: var(--color--text-white);
  border: 1px solid #e6e7e8;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .04);
}

.no-margin-bottom {
  margin-bottom: 0;
}

.menu-block {
  width: 300px;
  background-color: var(--color--text);
  padding: 50px;
}

.button-primary {
  color: #fff;
  letter-spacing: -.8px;
  background-color: #25272a;
  padding: 12px 32px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  transition: background-color .3s ease-in-out;
}

.button-primary:hover {
  color: #fff;
  background-color: #afafaf;
}

.button-primary:active {
  color: #fff;
}

.button-primary.small {
  letter-spacing: -.2px;
  padding: 8px 24px;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.button-primary.small:hover {
  background-color: #979797;
}

.margin-bottom-ml {
  margin-bottom: 50px;
}

.h6-style {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  line-height: 28px;
}

.margin-bottom-tiny {
  margin-bottom: 10px;
}

.error-message {
  color: #25272a;
  background-color: #fdcfce;
  margin-top: 32px;
  padding: 24px;
}

.margin-bottom-large {
  margin-bottom: 80px;
}

.text-span {
  color: #f8f8f8;
  font-weight: 600;
}

.select-field {
  height: 52px;
  color: #9a9ea5;
  letter-spacing: 0;
  background-color: #fff;
  margin-bottom: 24px;
  padding: 0 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .04);
}

.select-field:focus {
  color: #25272a;
  border: 1px solid #5853ec;
}

.paragraph-small {
  max-width: 900px;
  letter-spacing: 0;
  font-size: 14px;
  line-height: 24px;
}

.centered-container {
  max-width: 850px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.max-width-small {
  max-width: 400px;
}

.margin-top-ml {
  margin-top: 50px;
}

.content-wrapper.sg-content {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.sg-sticky-nav {
  flex-direction: column;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
}

.margin-bottom-small {
  margin-bottom: 20px;
}

.success-message {
  color: #fff;
  background-color: #5853ec;
}

.checkbox-field {
  align-self: flex-start;
  align-items: center;
  display: flex;
}

.margin-bottom-xxl {
  margin-bottom: 120px;
}

._3-col-grid {
  max-width: 1200px;
  grid-column-gap: 49px;
  flex: 1;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
}

.h1-style {
  font-size: 72px;
  line-height: 80px;
}

.style-wrapper {
  padding-top: 0;
  padding-bottom: 0;
}

.style-guide-wrapper {
  margin-top: 50px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #e6e7e8;
}

.style-guide-button-wrapper {
  align-items: flex-end;
  display: flex;
}

.style-guide-button-wrapper.margin-bottom-32 {
  margin-bottom: 32px;
}

.checkbox {
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0);
  margin-right: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .04);
}

.checkbox:hover {
  border-color: #9a9ea5;
}

.checkbox.w--redirected-checked {
  box-shadow: none;
  background-color: #25272a;
  background-image: url('../images/check-16px.svg');
  background-position: 50%;
  background-size: auto;
  border-color: #5853ec;
}

.checkbox.w--redirected-focus {
  border-color: #5853ec;
}

.input {
  height: 52px;
  color: #686d76;
  letter-spacing: 0;
  background-color: #fff;
  margin-bottom: 24px;
  padding: 12px 24px;
  font-size: 16px;
  line-height: 28px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .04);
}

.input:focus {
  color: #25272a;
  border: 1px solid #5853ec;
}

.body {
  font-family: Roboto, sans-serif;
}

.heading {
  font-family: Old Standard TT, sans-serif;
}

.top-logo {
  z-index: 99;
  background-color: rgba(255, 255, 255, 0);
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.navbar-innerwrapper {
  padding-top: 15px;
  padding-bottom: 0;
}

.navbar-container {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.navbar-logo-container {
  padding: 8px;
}

.navbar-menu {
  z-index: 2;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
  background-color: rgba(255, 255, 255, 0);
  flex-direction: column;
  justify-content: flex-start;
  display: block;
}

.navbar-link {
  padding-top: 20px;
  padding-bottom: 20px;
}

.text-block {
  display: inline;
}

.navbar-logo-center {
  z-index: 99;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.navbar-logo-center-container {
  z-index: 5;
  width: 1030px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.navbar-logo-center-container.shadow-three {
  width: 100%;
  max-width: 1140px;
}

.container-2 {
  width: 100%;
  max-width: 940px;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.navbar-wrapper-three {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.navbar-brand-three {
  z-index: 5;
  display: none;
  position: absolute;
}

.nav-menu-wrapper-three {
  width: 100%;
}

.nav-menu-three {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-menu-block {
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-link {
  color: var(--color--text-white);
  letter-spacing: .4rem;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: #f59b90;
}

.nav-link:focus-visible {
  outline-offset: 0px;
  color: var(--color--primary);
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: var(--color--primary);
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-dropdown-toggle:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-link-accent {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 20px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-accent:hover {
  color: rgba(26, 27, 31, .75);
}

.mobile-margin-top-10 {
  display: none;
}

.button-primary-2 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
  display: block;
}

.button-primary-2:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-2:active {
  background-color: #43464d;
}

.image {
  display: none;
}

.list-item {
  padding-top: 20px;
  padding-bottom: 20px;
}

.list-item-toggle {
  display: none;
}

.page-wrapper {
  min-height: 2000px;
}

.body-2 {
  background-color: var(--color--text);
}

.hero-section {
  z-index: -1;
  height: 100vh;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.slider {
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
}

.slide-content {
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.slide-image {
  width: 100%;
  height: 100%;
  background-image: url('../images/conscious-design-ubeslMfS1lk-unsplash.jpg');
  background-position: 50%;
  background-size: cover;
}

.slide-image.two {
  background-image: linear-gradient(rgba(0, 0, 0, .35), rgba(0, 0, 0, .35)), url('../images/asset-27.jpeg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.slide-image.one {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/asset-28.jpeg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.body-3 {
  font-family: Roboto, sans-serif;
}

.left-arrow, .right-arrow {
  display: none;
}

.hero-content {
  z-index: 2;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.hero-heading {
  color: var(--color--text-white);
  text-align: center;
  font-family: Old Standard TT, sans-serif;
  font-size: 120px;
  line-height: 160px;
}

.hero-main {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.wrapper {
  display: none;
}

.hero_section {
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  margin-bottom: 220px;
  padding: 80px 40px;
  display: flex;
  position: relative;
}

.hero_container {
  width: 100%;
  max-width: 780px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-items: stretch;
  display: grid;
}

.hero_image_wrapper {
  width: 100%;
  height: 585px;
  display: flex;
  position: relative;
}

.hero_slider {
  width: 50%;
  height: 465px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.hidden_element {
  display: none;
}

.slide_grain {
  z-index: 2;
  opacity: .02;
  background-image: url('../images/6563c04ea8cea906102c4225_noise.gif');
  background-position: 50%;
  background-size: cover;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.hero_heading_wrapper {
  z-index: 5;
  flex-direction: column;
  align-items: flex-end;
  display: flex;
  position: absolute;
  top: 50%;
  left: 80%;
}

.heading-2 {
  transform: translate(0);
}

.h1_wrapper {
  width: 100%;
  margin-bottom: 4px;
  position: relative;
  overflow: hidden;
}

.h1_wrapper.two {
  margin-top: -5vmin;
  left: 40%;
}

.h1_wrapper.three {
  margin-top: -2vmin;
  left: 40%;
}

.hero_heading {
  letter-spacing: -5px;
  white-space: nowrap;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20vmin;
  font-weight: 400;
  line-height: 100%;
}

.hero_head_sub {
  text-align: right;
  letter-spacing: 25px;
  text-indent: 0;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-size: 2.5vmin;
  font-weight: 300;
  line-height: 100%;
}

.hero-mask {
  z-index: 4;
  width: 0%;
  background-color: #fef7f4;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
  transform: scale(1.1);
}

.hero-mask.two {
  width: 0%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.shadow_div {
  z-index: 0;
  box-shadow: 0 40px 50px -40px var(--color--primary);
  opacity: 0;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.hero-button-wrapper {
  flex-direction: row;
  flex: 0 auto;
  justify-content: center;
  align-items: stretch;
  margin-top: 32px;
  display: flex;
}

.hero-button-wrapper.landing {
  height: auto;
  justify-content: flex-start;
  margin-top: 0;
}

.mascot-image {
  width: auto;
}

.sticky--card {
  height: 100vh;
  perspective: 1020px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

.sticky--card.z4 {
  z-index: 4;
  height: 100vh;
  justify-content: space-between;
  margin-top: 0;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  overflow: hidden;
}

.ripple {
  z-index: 2;
  width: 600px;
  height: 600px;
  opacity: 0;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 100%;
  position: absolute;
}

.section__swipe {
  margin-bottom: 0;
}

.ripple-container {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
}

.inner__card {
  height: 500px;
  max-width: 414px;
  min-width: 320px;
  background-color: #9ba0f3;
  border-radius: 16px;
  position: relative;
  box-shadow: 0 9px 25px rgba(0, 0, 0, .25);
}

.inner__card.is--3 {
  z-index: 5;
  height: auto;
  min-width: 220px;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0);
}

.inner__card.is--4 {
  z-index: 5;
  height: auto;
  min-width: 200px;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0);
}

.large-text {
  font-size: 36px;
}

.button-text2 {
  z-index: 6;
  text-align: center;
  letter-spacing: 2px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.4em;
  position: relative;
}

.button-text2:hover {
  color: rgba(19, 144, 164, .8);
}

.hhs-small {
  letter-spacing: 2px;
  margin-left: 2px;
  margin-right: 2px;
  font-size: 14px;
  font-weight: 600;
}

.hhs-small.title {
  font-size: 20px;
  font-weight: 600;
}

.lottie-explosion {
  z-index: 1;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.eigo-desc {
  position: -webkit-sticky;
  position: sticky;
}

.eigo-desc.sticky {
  z-index: 5;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  bottom: 0;
}

.hero-button {
  width: auto;
  height: 44px;
  box-shadow: none;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
  background-color: #1290a4;
  border: 1px #000;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-right: 0;
  padding: 18px 30px;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  transition: all .2s, transform .2s;
  display: flex;
  position: relative;
  overflow: hidden;
  transform: translate(0, -6px);
}

.hero-button:hover {
  color: #fff;
}

.hero-button:active {
  box-shadow: none;
  transform: translate(0);
}

.hero-button.cta {
  background-color: #1390a4;
}

.description {
  z-index: 10;
  color: #2f3a44;
  text-align: center;
  letter-spacing: 2px;
  background-image: url('../images/text-underline.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.5em;
  position: relative;
}

.description.cta {
  background-image: none;
  background-repeat: repeat;
  background-size: auto;
  font-weight: 500;
}

.mobile_only {
  height: 100vh;
  position: relative;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.full_image {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/bg-oil.gif');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.mobile_msg {
  z-index: 100;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.msg_text {
  color: var(--color--text-white);
  letter-spacing: .25rem;
  font-size: 28px;
}

.msg_image {
  filter: invert();
  margin-bottom: 10px;
}

@media screen and (min-width: 1280px) {
  .hero-button-wrapper.landing.cta {
    margin-top: 40px;
  }

  .hero-button {
    margin-top: 40px;
    box-shadow: 0 5px 8px 3px rgba(19, 144, 164, .1);
  }
}

@media screen and (max-width: 991px) {
  .tablet-left-align {
    text-align: left;
  }

  .grid-style-guide {
    grid-template-columns: 1fr;
  }

  .h2-style {
    font-size: 48px;
    line-height: 56px;
  }

  .tablet-centered {
    text-align: center;
  }

  .h3-style {
    font-size: 36px;
    line-height: 44px;
  }

  ._4-col-grid {
    grid-column-gap: 26px;
  }

  .h5-style {
    font-size: 24px;
    line-height: 32px;
  }

  ._2-col-grid {
    grid-column-gap: 50px;
    grid-template-columns: 1fr 1fr;
  }

  .color-grid {
    grid-row-gap: 24px;
    grid-template-columns: 1fr 1fr;
  }

  .h4-style {
    font-size: 28px;
    line-height: 36px;
  }

  .menu-block {
    display: none;
  }

  ._3-col-grid {
    grid-column-gap: 25px;
  }

  .h1-style {
    font-size: 64px;
    line-height: 72px;
  }

  .navbar-innerwrapper {
    padding-top: 0;
  }

  .navbar-container {
    display: none;
  }

  .navbar-menu {
    height: 72px;
    justify-content: center;
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
  }

  .container-2 {
    max-width: 728px;
    align-items: stretch;
  }

  .navbar-wrapper-three {
    justify-content: space-between;
  }

  .navbar-brand-three {
    display: block;
    position: relative;
  }

  .nav-menu-wrapper-three {
    background-color: rgba(0, 0, 0, 0);
    top: 70px;
  }

  .nav-menu-three {
    background-color: #fff;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-link {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .menu-button {
    order: -1;
    padding: 12px;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .image {
    display: inline-block;
  }

  .hero-heading {
    font-size: 120px;
  }

  .hero-main {
    padding-top: 72px;
  }

  .nav-icon {
    color: var(--color--text-white);
  }

  .mobile-logo-wrapper {
    padding: 12px;
  }

  .wrapper {
    display: none;
  }

  .hero_section {
    height: auto;
    max-height: none;
    min-height: auto;
    margin-bottom: 160px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero_container {
    width: 83%;
    max-width: 640px;
  }

  .hero_heading {
    font-size: 92px;
  }

  .hero_head_sub {
    font-size: 3vmin;
  }

  .inner__card.is--3 {
    min-width: 170px;
  }

  .inner__card.is--4 {
    height: auto;
    min-width: 150px;
  }

  .button-text2 {
    z-index: 2;
    text-align: right;
  }

  .button-text2:hover {
    color: rgba(19, 144, 164, .8);
  }

  .hhs-small.title {
    font-weight: 400;
  }

  .lottie-explosion {
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .hero-button {
    text-align: center;
    cursor: pointer;
    border: 1px #000;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .description {
    font-size: 24px;
  }
}

@media screen and (max-width: 767px) {
  .sg-content-block.colour {
    margin-top: 40px;
  }

  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .h2-style {
    font-size: 40px;
    line-height: 48px;
  }

  .mobile-landscape-left-align {
    text-align: left;
  }

  .h3-style {
    font-size: 32px;
    line-height: 40px;
  }

  ._4-col-grid {
    grid-template-columns: 1fr 1fr;
  }

  .h5-style {
    font-size: 24px;
    line-height: 32px;
  }

  ._2-col-grid {
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-columns: 1fr;
  }

  .mobile-landscape-centered {
    text-align: center;
  }

  ._3-col-grid {
    grid-row-gap: 51px;
    grid-template-columns: 1fr;
  }

  .h1-style {
    font-size: 56px;
    line-height: 64px;
  }

  .navbar-brand-three {
    padding-left: 0;
  }

  .nav-menu-three {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-menu-block {
    flex-direction: column;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .nav-link-accent {
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .slide-image {
    background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url('../images/conscious-design-ubeslMfS1lk-unsplash.jpg');
    background-position: 0 0, 50%;
    background-size: auto, cover;
  }

  .slide-image.two {
    background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url('../images/bg-oil.gif');
    background-position: 0 0, 50%;
    background-size: auto, cover;
  }

  .hero-heading {
    font-size: 120px;
    line-height: 120px;
  }

  .hero-main {
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .wrapper {
    display: none;
  }

  .hero_section {
    margin-bottom: 0;
    padding-top: 100px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .hero_container {
    width: 100%;
    max-width: 420px;
    justify-items: end;
  }

  .hero_image_wrapper {
    align-items: flex-start;
    padding-top: 100%;
  }

  .hero_slider {
    width: 100%;
    height: 500px;
    flex-direction: column;
    justify-content: flex-end;
    display: flex;
  }

  .slide_grain {
    background-image: url('../images/6563c04ea8cea906102c4225_noise.gif');
    background-position: 50%;
    background-size: cover;
  }

  .hero_heading_wrapper {
    margin-left: -25px;
    bottom: 40px;
    left: 0%;
  }

  .h1_wrapper {
    bottom: 2vh;
    left: 2vw;
    right: 2vw;
  }

  .h1_wrapper.two {
    margin-top: 0;
    left: 35vw;
  }

  .h1_wrapper.three {
    margin-top: 2vmin;
    left: 35vw;
  }

  .hero_heading {
    color: var(--color--background);
    font-size: 20vw;
  }

  .hero_head_sub {
    color: var(--color--background);
  }

  .hero-mask, .hero-mask.two {
    transform: scale(1.1);
  }

  .mobile_overlay {
    z-index: 999;
    height: 90px;
    background-image: linear-gradient(rgba(255, 248, 245, .5) 20%, rgba(255, 255, 255, 0));
    position: fixed;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
  }

  .fixed_nav_container {
    width: 100%;
    height: 0;
    max-width: 420px;
    min-height: auto;
    min-width: auto;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
  }

  .navbar {
    height: 100px;
    justify-content: center;
    align-items: flex-start;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    position: fixed;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
  }

  .logo_link.w--current {
    z-index: 1001;
    margin-top: 27px;
    position: relative;
  }

  .logo_image {
    width: 50px;
    filter: brightness(50%) grayscale();
  }

  .menu_toggle {
    z-index: 100;
    position: relative;
  }

  .menu_icon_wrapper {
    height: 40px;
    margin-top: 32px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
  }

  .menu_icon {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    display: flex;
  }

  .menu_line {
    width: 20px;
    height: 2px;
    background-color: var(--color--text);
    border-radius: 100px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .menu_line.two {
    width: 16px;
    height: 2px;
  }

  .accordian_row {
    position: relative;
  }

  .sticky_elements {
    z-index: 5;
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    overflow: hidden;
  }

  .hand_container {
    height: auto;
    max-width: 414px;
    min-width: 120px;
  }

  .hand_image {
    z-index: 1;
    width: auto;
    max-width: 200px;
    filter: brightness(130%) saturate(60%);
    position: relative;
    transform: scale(1.6);
  }

  .sticky_text {
    z-index: 4;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    overflow: hidden;
  }

  .hero-button-wrapper.landing {
    justify-content: center;
    align-items: center;
  }

  .sticky--card.z4 {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
  }

  .inner__card.is--3, .inner__card.is--4 {
    z-index: 3;
  }

  .button-text2 {
    text-align: center;
    font-size: 18px;
  }

  .hhs-small.title {
    font-size: 16px;
  }

  .lottie-explosion {
    z-index: 0;
  }

  .eigo-desc.sticky {
    z-index: 2;
  }

  .description {
    font-size: 20px;
  }

  .description.cta {
    font-size: 24px;
  }

  .lottie_anim {
    display: none;
  }

  .about_text {
    z-index: 2;
    color: var(--color--text);
    text-align: center;
    letter-spacing: .1rem;
    font-family: Droid Serif, serif;
    font-size: 36px;
    line-height: 1.3;
    position: relative;
  }

  .mobile_only {
    z-index: 99999999;
    height: 100vh;
    background-color: var(--color--background);
    position: relative;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .full_image {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/bg-oil.gif');
    background-position: 0 0, 50%;
    background-size: auto, cover;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .mobile_msg {
    z-index: 100;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .msg_text {
    z-index: 100;
    color: var(--color--text-white);
    letter-spacing: .25rem;
    font-size: 20px;
    position: relative;
  }

  .msg_image {
    filter: invert();
    padding-bottom: 0;
  }
}

@media screen and (max-width: 479px) {
  body {
    min-height: 100%;
    background-color: var(--color--background);
  }

  a {
    color: var(--color--secondary);
  }

  .style-guide-block.icons, .style-guide-block.forms, .style-guide-block.typography, .style-guide-block.buttons, .style-guide-block.rich-text {
    margin-top: 72px;
  }

  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .h2-style {
    font-size: 36px;
    line-height: 40px;
  }

  .mobile-left-align {
    text-align: left;
  }

  .icon-grid {
    flex-wrap: wrap;
  }

  .h3-style {
    font-size: 28px;
    line-height: 36px;
  }

  .button-item.style-guide-spacer {
    margin-bottom: 24px;
  }

  .button-tertiary {
    border-width: 0;
    border-color: var(--color--text);
    background-color: var(--color--secondary);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: var(--color--text-white);
    text-align: center;
  }

  .h5-style {
    font-size: 20px;
    line-height: 28px;
  }

  .color-grid {
    grid-template-columns: 1fr;
  }

  .h4-style {
    font-size: 24px;
    line-height: 32px;
  }

  .h6-style {
    font-size: 16px;
    line-height: 28px;
  }

  .mobile-centered {
    text-align: center;
  }

  .h1-style {
    font-size: 48px;
    line-height: 56px;
  }

  .style-guide-button-wrapper, .style-guide-button-wrapper.margin-bottom-32 {
    flex-wrap: wrap;
  }

  .container-2 {
    max-width: none;
  }

  .nav-menu-three {
    flex-direction: column;
  }

  .slide-image {
    background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url('../images/conscious-design-ubeslMfS1lk-unsplash.jpg');
    background-position: 0 0, 50%;
    background-size: auto, cover;
  }

  .slide-image.two {
    background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url('../images/bg-oil.gif');
  }

  .hero-heading {
    max-width: 300px;
    font-size: 72px;
    line-height: 80px;
  }

  .hero-main {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .wrapper {
    width: 100%;
    height: 100vh;
    background-color: var(--color--background);
    display: block;
  }

  .hero_section {
    padding-bottom: 20px;
    padding-right: 24px;
  }

  .hero_container {
    max-width: 355px;
  }

  .hero_image_wrapper {
    align-items: flex-start;
    padding-top: 150%;
  }

  .hero_slider {
    width: 100%;
    height: 100%;
    max-height: 70vh;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    display: flex;
    bottom: auto;
  }

  .slide_grain {
    opacity: .02;
  }

  .hero_heading_wrapper {
    margin-left: 0;
    left: auto;
    transform: translate(0, 30px);
  }

  .h1_wrapper {
    font-weight: 400;
    left: -3vw;
  }

  .h1_wrapper.two, .h1_wrapper.three {
    left: 35vw;
  }

  .hero_heading {
    color: var(--color--background);
    font-size: 25vw;
    font-weight: 400;
  }

  .hero_head_sub {
    color: var(--color--background);
    text-shadow: 0 0 10px rgba(0, 0, 0, .51);
    font-family: Montserrat, sans-serif;
    font-size: 4vmin;
    font-weight: 400;
  }

  .hero-mask.two {
    transform: none;
  }

  .mobile_overlay {
    z-index: 999;
    height: 90px;
    background-image: linear-gradient(rgba(255, 248, 245, .5) 20%, rgba(255, 255, 255, 0));
    padding-bottom: 0;
    padding-right: 0;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .fixed_nav_container {
    width: 100%;
    height: 0;
    max-width: 340px;
    min-height: auto;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
  }

  .navbar {
    height: 100px;
    justify-content: center;
    align-items: flex-start;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    position: fixed;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
  }

  .logo_link {
    z-index: 1001;
    margin-top: 27px;
    padding-left: 0;
    position: relative;
  }

  .logo_image {
    width: 50px;
    filter: brightness(50%) grayscale();
  }

  .menu_toggle {
    z-index: 100;
    position: relative;
  }

  .menu_icon_wrapper {
    height: 40px;
    margin-top: 32px;
    margin-left: 0;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
  }

  .menu_icon {
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    display: flex;
  }

  .menu_line {
    width: 16px;
    height: 1px;
    background-color: var(--color--text);
    color: var(--color--text);
    border-radius: 100px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .menu_line.two {
    width: 10px;
    height: 1px;
  }

  .nav_menu {
    z-index: 100;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, .5);
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    transform: translate(0, 100%);
  }

  .nav_menu_items {
    z-index: 101;
    height: auto;
    max-width: 340px;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 132px;
    padding-bottom: 32px;
    display: flex;
    position: static;
  }

  .nav_link_wrapper {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    transform: translate(0, 25px);
  }

  .menu_link {
    color: var(--color--text);
    letter-spacing: 10px;
    padding: 12px 0 12px 12px;
    font-family: Old Standard TT, sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 100%;
    text-decoration: none;
    transition: transform .2s;
  }

  .menu_link:hover {
    color: var(--color--secondary);
    transform: translate(-20px);
  }

  .menu_link:active {
    transform: translate(0);
  }

  .body-4 {
    background-color: var(--color--background);
  }

  .section_wrapper {
    z-index: 99;
    padding: 60px 24px 100px;
    position: relative;
  }

  .section_wrapper.bottom {
    height: 0;
    padding-bottom: 60px;
    display: block;
  }

  .section_wrapper.padding_t0 {
    padding-top: 0;
  }

  .section_container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
  }

  .section_container.flex {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .menu_grid {
    z-index: 9999;
    width: 100%;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    display: grid;
    position: static;
  }

  .menu_grid.single {
    grid-template-rows: auto;
  }

  .menu_image.therapist {
    width: 150px;
    height: 150px;
    background-image: url('../images/kozue2.JPG');
    background-position: 50%;
    background-size: 400px;
    border-radius: 100px;
  }

  .text-aligned {
    color: var(--color--text);
    text-align: right;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.2;
  }

  .text-aligned.mg-bottom-1rem {
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  .text-aligned.left {
    text-align: left;
    font-family: Old Standard TT, sans-serif;
  }

  .text-aligned.center {
    text-align: center;
  }

  .sub-text {
    color: var(--color--text-opacity70);
    text-align: right;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
  }

  .sub-text.left {
    text-align: left;
  }

  .add_brightness {
    filter: saturate(75%) brightness(200%);
  }

  .menu_accordian {
    margin-top: 1rem;
    position: relative;
  }

  .accordian_row {
    box-shadow: none;
    position: relative;
  }

  .accordian_container {
    position: relative;
  }

  .accordian_line {
    width: 100%;
    height: 1px;
    background-color: var(--color--text-opacity50);
    padding: 0;
    display: block;
    position: relative;
  }

  .accordian_content {
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: relative;
  }

  .accordian_title {
    color: var(--color--text);
    margin-top: .25rem;
    margin-bottom: 0;
    font-family: Droid Serif, serif;
    position: relative;
  }

  .accordian_expand {
    width: 21px;
    height: 21px;
    flex-direction: row;
    justify-content: center;
    align-self: auto;
    align-items: center;
    display: flex;
    position: relative;
  }

  .accordian_icon {
    width: 100%;
    height: 1px;
    background-color: var(--color--text);
    border-radius: 100px;
    align-self: auto;
    align-items: center;
    padding-bottom: 0;
    padding-right: 0;
    display: block;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .accordian_icon.two {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: rotate(90deg);
  }

  .expand_line {
    width: 16px;
    height: 1px;
    background-color: var(--color--text);
    padding-bottom: 0;
    padding-right: 0;
    position: absolute;
  }

  .expand_line.vertical {
    transform: rotate(90deg);
  }

  .accordian_drawer {
    opacity: 1;
    margin-top: -3rem;
    padding: 3.75rem 0 .75rem;
    display: none;
    transform: translate(0);
  }

  .accordian_drawer.open {
    display: block;
  }

  .accordian_drawer.open.flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    display: flex;
  }

  .menu_item {
    flex-direction: row;
    justify-content: space-between;
    padding: .25px 0;
    display: flex;
  }

  .menu_item.title {
    letter-spacing: 2px;
    margin-bottom: .25rem;
  }

  .menu_item.no_price {
    justify-content: flex-end;
  }

  .menu_text {
    color: var(--color--text-opacity70);
    text-align: right;
    letter-spacing: 2px;
    font-family: Montserrat, sans-serif;
  }

  .menu_text.dark {
    color: var(--color--text);
    font-family: Montserrat, sans-serif;
  }

  .menu_text.dark.left {
    text-align: left;
  }

  .div-block {
    width: 100%;
    height: 1px;
    max-width: 180px;
    border: 1px dashed #000;
    align-self: flex-end;
    padding: 0 0;
  }

  .menu_item_wrapper {
    margin-bottom: 1rem;
  }

  .about_section {
    justify-content: center;
    align-items: center;
    display: flex;
    position: static;
    overflow: hidden;
  }

  .sticky_elements {
    z-index: 5;
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
    padding: 0;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    overflow: hidden;
  }

  .sticky_elements.first {
    z-index: 6;
    flex-direction: column;
    justify-content: space-between;
    padding: 100px 24px 0;
  }

  .hand_container {
    height: auto;
    max-width: 414px;
    min-width: 120px;
    position: relative;
  }

  .hand_image {
    z-index: 1;
    width: auto;
    max-width: 180px;
    filter: brightness(130%) saturate(60%);
    position: relative;
    transform: scale(1.6);
  }

  .lottie_animation {
    z-index: 0;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .sticky_text {
    z-index: 4;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    overflow: hidden;
  }

  .sticky_text.first {
    z-index: 5;
    height: 90vh;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 0;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .hero-button-wrapper {
    width: 280px;
    text-align: center;
    flex-direction: row;
    flex: 0 auto;
    align-self: auto;
    align-items: stretch;
  }

  .hero-button-wrapper.landing {
    width: 100%;
    justify-content: center;
    display: none;
  }

  .hero-button-wrapper.landing.cta {
    margin-top: 40px;
  }

  .sticky--card.z4 {
    z-index: 2;
    height: 140vh;
    flex-direction: row;
    overflow: hidden;
  }

  .ripple {
    width: 200vw;
    height: 200vw;
  }

  .section__swipe.two {
    bottom: 200px;
  }

  .ripple-container {
    font-size: 14px;
  }

  .inner__card.is--3 {
    z-index: 8;
    min-width: 150px;
  }

  .inner__card.is--4 {
    min-width: 120px;
  }

  .large-text {
    font-size: 30px;
  }

  .button-text2 {
    font-size: 14px;
    line-height: 14px;
  }

  .hhs-small {
    margin-left: 0;
    margin-right: 2px;
    font-size: 12px;
  }

  .hhs-small.title {
    font-size: 14px;
    font-weight: 400;
  }

  .lottie-explosion {
    display: block;
  }

  .hero-button {
    text-align: center;
    justify-content: center;
    margin-bottom: 16px;
    margin-right: 0;
  }

  .hero-button.cta {
    height: 40px;
    justify-content: center;
    margin-right: 0;
    padding-left: 18px;
    padding-right: 18px;
  }

  .description {
    max-width: 200px;
    background-size: cover;
    border-radius: 50px;
    font-size: 18px;
  }

  .description.cta {
    max-width: 260px;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 1.8em;
  }

  .lottie_anim {
    z-index: 0;
    opacity: .5;
    display: none;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    transform: scale(1.6);
  }

  .about_text {
    z-index: 2;
    opacity: 1;
    color: var(--color--text);
    text-align: center;
    letter-spacing: .25rem;
    font-family: Droid Serif, serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.2;
    position: relative;
  }

  .about_text.english {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 100px;
  }

  .bg_text {
    color: rgba(67, 72, 78, .1);
    text-align: center;
    letter-spacing: 0;
    text-transform: uppercase;
    font-family: Old Standard TT, sans-serif;
    font-size: 62px;
    font-weight: 700;
    line-height: .8;
    position: relative;
    bottom: 0;
  }

  .bg_text._1 {
    bottom: 15px;
  }

  .bg_text._2 {
    line-height: 100px;
    bottom: -15px;
  }

  .bg_text._3 {
    bottom: -40px;
  }

  .text_container {
    height: auto;
    transform: translate(0);
  }

  .mobile_only {
    justify-content: center;
    align-items: center;
    display: none;
  }
}

#w-node-d971ab47-31d1-9b23-f75a-1e05a43fe010-8a59f6c9 {
  justify-self: stretch;
}

#w-node-d971ab47-31d1-9b23-f75a-1e05a43fe169-8a59f6c9, #w-node-d971ab47-31d1-9b23-f75a-1e05a43fe16a-8a59f6c9, #w-node-d971ab47-31d1-9b23-f75a-1e05a43fe16b-8a59f6c9, #w-node-d971ab47-31d1-9b23-f75a-1e05a43fe16c-8a59f6c9 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
  justify-self: center;
}

#w-node-_18f33d39-aa4a-bcc8-afa6-7cb8ac338f8e-494f6bff {
  grid-area: 1 / 1 / 2 / 3;
}

#w-node-cbcf0478-b219-18c2-06d0-43bd19bc7df8-494f6bff {
  grid-area: span 2 / span 1 / span 2 / span 1;
}

@media screen and (max-width: 479px) {
  #w-node-_18f33d39-aa4a-bcc8-afa6-7cb8ac338f8e-494f6bff {
    grid-row: 1 / 2;
    grid-column-start: 1;
  }

  #w-node-db939a89-77bd-5ff2-4164-687f9f52d535-494f6bff, #w-node-_83464b0d-c49c-c03a-721b-207132240be4-494f6bff, #w-node-bf535ea1-ca4c-a81a-bead-627629c74cca-494f6bff, #w-node-b2d89fd7-958a-b5bd-db75-f50793b2ffcd-494f6bff, #w-node-b2d89fd7-958a-b5bd-db75-f50793b2ffd7-494f6bff, #w-node-fe1f6f28-3037-7ef7-c1f7-ac47003e1fbe-494f6bff {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}


